:root{
    --color-iconos : #089bff;
    --color-iconos-hover : #1684ce; 
    --color-fondo:#bceff9;
}
/* .row{
    height: 100vh;
} */
.bg-fondo{
    background-color: var(--color-iconos-hover);
}
.bg-form{
    background-color: var(--color-iconos);

}
.mini-menu a{
    padding: 5px;
    border: 1px  #089bff solid;
    display: block;
    width: 40px;
    text-align: center;
}
.mini-menu{
    position: relative;
    
}
.mini-menu nav{
    position: absolute;
}
@media(max-width: 800px){
    .mini-menu nav{
        position: initial;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}